    <form class="newPost-form">
        <div>
            <h2>New Post Title</h2>
            <textarea name="newPost-title"></textarea>
        </div>
        <div>
            <h2>New Post Content</h2>
            <textarea name="newPost-content"></textarea>
        </div>

        <div>
            <button type="submit">add new post</button>
        </div>
    </form>


<script src="/javascript/newPost.js"></script>
